### Carga del modelo

In [27]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("penguins")

# Eliminamos los rows con alguna columna vacia
df = df.dropna()

df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

### Division del dataset en train (80%) y test (20%)

In [34]:
from sklearn.model_selection import train_test_split

species_map = {species: index for index, species in enumerate(df['species'].unique())}
df['species_index'] = df['species'].map(species_map) # Adelie -> 0, Chinstrap -> 1, Gentoo -> 2

X = df.drop(columns=['species_index'])
y = df['species']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)